flask
flask_script
flask_migrate
flask_sqlalchemy
flask_restful
flask_limiter
flask_cache
flask_docs==0.1.4
flask_wtf
werkzeug==0.15.2
Pillow==5.1.0
pyDes
pymysql
pypinyin
gunicorn
gevent
requests
redis
celery
numpy
pandas
xlrd